
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>iPhone</title>
    <link href="~/Content/MasterLayout.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/DetailProDuct.css" rel="stylesheet" />
</head>
<body>
    <div id="breadcrumb">
        <ul>
            <li class="trangchu">
                <a href="/Home/Index">Trang chủ<span> > </span></a>
            </li>
            <li class="iPhone">
                <strong style="font-weight:100"> iPhone</strong>
            </li>

        </ul>
    </div>
   
        <div class="center-1">
            <div class="product-essential">
                <div class="product">
                    <div class="pic">
                        <img src="https://shopdunk.com/images/thumbs/0020729_starlight_550.jpeg" alt="media.productreivew.imagealternatetextformat" />
                    </div>
                    <div class="list-images-product">
                        <img src="https://shopdunk.com/images/thumbs/0020729_starlight_550.jpeg" />
                        <img src="https://shopdunk.com/images/thumbs/0020676_apple-watch-series-9-nhom-gps-cellular-41mm-sport-band_550.jpeg" />
                        <img src="https://shopdunk.com/images/thumbs/0020730_starlight_550.jpeg" />
                        <img src="https://shopdunk.com/images/thumbs/0020678_apple-watch-series-9-nhom-gps-cellular-41mm-sport-band_550.jpeg" />
                        <img src="https://shopdunk.com/images/thumbs/0020679_apple-watch-series-9-nhom-gps-cellular-41mm-sport-band_550.jpeg" alt="media.productreivew.imagealternatetextformat" />
                        <img src="https://shopdunk.com/images/thumbs/0020680_apple-watch-series-9-nhom-gps-cellular-41mm-sport-band_550.jpeg" />
                        <img src="https://shopdunk.com/images/thumbs/0020681_apple-watch-series-9-nhom-gps-cellular-41mm-sport-band_550.jpeg" />
                        <img src="https://shopdunk.com/images/thumbs/0020682_apple-watch-series-9-nhom-gps-cellular-41mm-sport-band_550.jpeg" />
                        <img src="https://shopdunk.com/images/thumbs/0020684_apple-watch-series-9-nhom-gps-cellular-41mm-sport-band_550.jpeg" />
                    </div>

                </div>
                <div class="infomation">
                    <div class="container-name-product">
                        <div class="name-product">
                            <h1>
                                <span>Apple Watch Series 9 Nhôm (GPS + Cellular) 41mm | Sport Band</span>
                            </h1>
                        </div>
                        <div class="all-content">
                            <div class="rating">
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <div class="danhgia">
                                <a style="color:#0066CC">Đánh giá|</a>
                            </div>
                            <div class="sosanh">
                                <button> <i class="fa-solid fa-plus"></i>So sánh</button>
                            </div>
                        </div>
                    </div>
                    <div class="price-product">
                        <div class="new-price">
                            <span>12.990.000<sup>đ</sup></span>
                        </div>
                        <div class="old-price">
                            <span>14.990.000<sup>đ</sup></span>
                        </div>
                    </div>
                    <div class="color">
                        <label>Màu sắc</label>
                        <ul>
                            <li style="margin:10px 10px 10px 0 !important" class="brown"><span></span></li>
                            <li class="black"><span></span></li>
                            <li class="grey"><span></span></li>
                            <li class="pink"><span></span></li>
                            <li class="red"><span></span></li>
                        </ul>
                    </div>
                    <div class="buy">
                        <button>MUA NGAY</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-product">
            <strong>Gợi ý phụ kiện đi kèm</strong>
        </div>
        <div id="dongiPhone">

            <div id="item-box">
                <div id="tag">
                </div>
                <a href="detailpro.html">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0004177_day-deo-apple-watch-uniq-reversible-magnetic-strap-384041mm_240.jpeg" /><br />
                </a>
                <h3 class="namepro">
                    <a href="">Dây đeo Apple Watch UNIQ-Reversible Magnetic Stra</a>
                </h3>
                <div id="price">
                    <span id="newprice">590.000<sup>đ</sup></span>
                    <span id="oldprice">840.000<sup>đ</sup></span>
                    <span id=disco></span>
                </div>
            </div>

            <div id="item-box">
                <div id="tag">
                </div>
                <a href="detailpro.html">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0004177_day-deo-apple-watch-uniq-reversible-magnetic-strap-384041mm_240.jpeg" /><br />
                </a>
                <h3 class="namepro">
                    <a href="">Dây đeo Apple Watch UNIQ-Reversible Magnetic Stra</a>
                </h3>
                <div id="price">
                    <span id="newprice">590.000<sup>đ</sup></span>
                    <span id="oldprice">840.000<sup>đ</sup></span>
                    <span id=disco></span>
                </div>
            </div>
            <div id="item-box">
                <div id="tag">
                </div>
                <a href="detailpro.html">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0004177_day-deo-apple-watch-uniq-reversible-magnetic-strap-384041mm_240.jpeg" /><br />
                </a>
                <h3 class="namepro">
                    <a href="">Dây đeo Apple Watch UNIQ-Reversible Magnetic Stra</a>
                </h3>
                <div id="price">
                    <span id="newprice">590.000<sup>đ</sup></span>
                    <span id="oldprice">840.000<sup>đ</sup></span>
                    <span id=disco></span>
                </div>
            </div>
            <div id="item-box">
                <div id="tag">
                </div>
                <a href="detailpro.html">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0004177_day-deo-apple-watch-uniq-reversible-magnetic-strap-384041mm_240.jpeg" /><br />
                </a>
                <h3 class="namepro">
                    <a href="">Dây đeo Apple Watch UNIQ-Reversible Magnetic Stra</a>
                </h3>
                <div id="price">
                    <span id="newprice">590.000<sup>đ</sup></span>
                    <span id="oldprice">840.000<sup>đ</sup></span>
                    <span id=disco></span>
                </div>
            </div>
        </div>
        <ul class="motavahoidap">
            <li><a>Mô tả sản phẩm</a></li>
            <li><a>Thông số kỹ thuật</a></li>
            <li><a>Chi tiết sản phẩm</a></li>
            <li><a>Hỏi đáp</a></li>
        </ul>
</body>
</html>





