
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>iPhone</title>
    <link href="~/Content/MasterLayout.css" rel="stylesheet" />
    <link href="~/Content/homestyle.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div id="breadcrumb">
        <ul>
            <li class="trangchu">
                <a href="/Home/Index">Trang chủ<span> > </span></a>

            </li>
            <li class="iPhone">
                <strong style="font-weight:100"> iPhone</strong>
            </li>
        </ul>
    </div>

    <div class="mainContent">
        <div id="title_product">
            <h1 style="font-size:36px;">
                <a href="iPhone.html">iPhone</a>
            </h1>
        </div>

        <section id="bannerproduct">
            <a href="https://shopdunk.com/iphone15/iphone-15-pro-max">
                <img src="https://shopdunk.com/images/uploaded/banner/banner_thang10/banner%20iphone%2015%20pro%20max%20TH_PC%20(1).jpg" />
            </a>
        </section>

        <div id="menu_phu">
            <div id="thanh_product">
                <div class="item-box-pro"><a href="iPhone.html">Tất cả</a></div>
                <div class="item-box-pro"><a href="iPhone15series.html">iPhone 15 series</a></div>
                <div class="item-box-pro"><a href="https://shopdunk.com/iphone-14-series">iPhone 14 series</a></div>
                <div class="item-box-pro"><a href="https://shopdunk.com/iphone-13-series">iPhone 13 series</a></div>
                <div class="item-box-pro"><a href="https://shopdunk.com/iphone-12-series">iPhone 12 series</a></div>
                <div class="item-box-pro"><a href="https://shopdunk.com/iphone-11-series">iPhone 11 series</a></div>
                <div class="item-box-pro"><a href="https://shopdunk.com/iphone-se-series">iPhone SE</a></div>
            </div>
            <div id="sosanh">
                <div id="sosanh_img">
                    <a href="https://shopdunk.com/so-sanh-iphone">
                        <img src="https://shopdunk.com/images//uploaded-source/icon//comparison.png" />
                        <span>So sánh iPhone</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="item-grid">

            <div id="item-box">
                <div id="tag">
                    <img src="https://shopdunk.com/images/uploaded/icon/new.png" />
                </div>
                <a href="/Product/DetailProduct">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0020320_iphone-15-128gb_240.webp" /><br />
                </a>
                <h3 class="namepro">
                    <a href="detailpro.html">iPhone 15 128GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">21.490.000<sup>đ</sup></span>
                    <span id="oldprice">24.990.000<sup>đ</sup></span>
                    <span id=disco>-14%</span>
                </div>
            </div>

            <div id="item-box">
                <div id="tag">
                    <img src="https://shopdunk.com/images/uploaded/icon/new.png" />
                </div>
                <a href="https://shopdunk.com/iphone-15-plus">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0020317_iphone-15-plus-128gb_240.webp" /><br />
                </a>
                <h3 class="namepro">
                    <a href="https://shopdunk.com/iphone-15-plus">iPhone 15 Plus 128GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">24.490.000<sup>đ</sup></span>
                    <span id="oldprice">27.990.000<sup>đ</sup></span>
                    <span id=disco>-12%</span>
                </div>
            </div>

            <div id="item-box">
                <div id="tag">
                    <img src="https://shopdunk.com/images/uploaded/icon/new.png" />
                </div>
                <a href="https://shopdunk.com/iphone-15-pro">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0020313_iphone-15-pro-128gb_240.webp" /><br />
                </a>
                <h3 class="namepro">
                    <a href="https://shopdunk.com/iphone-15-pro">iPhone 15 Pro 128GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">27.990.000<sup>đ</sup></span>
                    <span id="oldprice">30.990.000<sup>đ</sup></span>
                    <span id=disco>-9%</span>
                </div>
            </div>

            <div id="item-box">
                <div id="tag">
                    <img src="https://shopdunk.com/images/uploaded/icon/new.png" />
                </div>
                <a href="https://shopdunk.com/iphone-15-pro-max">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0020311_iphone-15-pro-max-256gb_240.webp" /><br />
                </a>
                <h3 class="namepro">
                    <a href="https://shopdunk.com/iphone-15-pro-max">iPhone 15 Pro Max 256GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">34.490.000<sup>đ</sup></span>
                    <span id="oldprice">37.990.000<sup>đ</sup></span>
                    <span id=disco>-7%</span>
                </div>
            </div>

            <div id="item-box">
                <div id="tag">

                </div>
                <a href="https://shopdunk.com/iphone-14-pro-max">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0007808_iphone-14-pro-max-128gb_240.png" /><br />
                </a>
                <h3 class="namepro">
                    <a href="https://shopdunk.com/iphone-14-pro-max">iPhone 14 Pro Max 128GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">26.490.000<sup>đ</sup></span>
                    <span id="oldprice">34.990.000<sup>đ</sup></span>
                    <span id=disco>-24%</span>
                </div>
            </div>

            <div id="item-box">
                <div id="tag">

                </div>
                <a href="https://shopdunk.com/iphone-14-pro">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0008734_iphone-14-pro-128gb_240.png" /><br />
                </a>
                <h3 class="namepro">
                    <a href="https://shopdunk.com/iphone-14-pro">iPhone 14 Pro 128GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">23.890.000<sup>đ</sup></span>
                    <span id="oldprice">30.990.000<sup>đ</sup></span>
                    <span id=disco>-22%</span>
                </div>
            </div>

            <div id="item-box">
                <div id="tag">

                </div>
                <a href="https://shopdunk.com/iphone-14-plus-128gb">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0009495_iphone-14-plus-128gb_240.png" /><br />
                </a>
                <h3 class="namepro">
                    <a href="https://shopdunk.com/iphone-14-plus-128gb">iPhone 14 Plus 128GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">21.190.000<sup>đ</sup></span>
                    <span id="oldprice">27.990.000<sup>đ</sup></span>
                    <span id=disco>-24%</span>
                </div>
            </div>

            <div id="item-box">
                <div id="tag">

                </div>
                <a href="https://shopdunk.com/iphone-14-128gb">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0009181_iphone-14-128gb_240.png" /><br />
                </a>
                <h3 class="namepro">
                    <a href="https://shopdunk.com/iphone-14-128gb">iPhone 14 128GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">18.690.000<sup>đ</sup></span>
                    <span id="oldprice">24.990.000<sup>đ</sup></span>
                    <span id=disco>-25%</span>
                </div>
            </div>

            <div id="item-box">
                <div id="tag">

                </div>
                <a href="https://shopdunk.com/iphone-11">
                    <img class="anhmau" style="margin:32px 2.5px 32px 2.5px " src="https://shopdunk.com/images/thumbs/0012164_iphone-11-64gb_240.webp" /><br />
                </a>
                <h3 class="namepro">
                    <a href="https://shopdunk.com/iphone-11">iPhone 11 64GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">10.490.000<sup>đ</sup></span>
                    <span id="oldprice">14.990.000<sup>đ</sup></span>
                    <span id=disco>-30%</span>
                </div>
            </div>

            <div id="item-box">
                <div id="tag">
                    <img src="https://shopdunk.com/images/uploaded/icon/new.png" />
                </div>
                <a href="https://shopdunk.com/iphone-15-256gb">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0020321_iphone-15-256gb_240.webp" /><br />
                </a>
                <h3 class="namepro">
                    <a href="https://shopdunk.com/iphone-15-256gb">iPhone 15 256GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">24.490.000<sup>đ</sup></span>
                    <span id="oldprice">27.990.000<sup>đ</sup></span>
                    <span id=disco>-12%</span>
                </div>
            </div>


            <div id="item-box">
                <div id="tag">
                    <img src="https://shopdunk.com/images/uploaded/icon/new.png" />
                </div>
                <a href="https://shopdunk.com/iphone-15-512gb">
                    <img class="anhmau" src="https://shopdunk.com/images/thumbs/0020322_iphone-15-512gb_240.webp" /><br />
                </a>
                <h3 class="namepro">
                    <a href="https://shopdunk.com/iphone-15-512gb">iPhone 15 512GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">30.490.000<sup>đ</sup></span>
                    <span id="oldprice">33.990.000<sup>đ</sup></span>
                    <span id=disco>-10%</span>
                </div>
            </div>


            <div id="item-box">
                <div id="tag">

                </div>
                <a href="https://shopdunk.com/iphone-11-128gb">
                    <img class="anhmau" style="margin:32px 2.5px 32px 2.5px " src="https://shopdunk.com/images/thumbs/0012165_iphone-11-128gb_240.jpeg" /><br />
                </a>
                <h3 class="namepro">
                    <a href="https://shopdunk.com/iphone-11-128gb">iPhone 11 128GB</a>
                </h3>
                <div id="price">
                    <span id="newprice">11.890.000<sup>đ</sup></span>
                    <span id="oldprice">16.990.000<sup>đ</sup></span>
                    <span id=disco>-130%</span>
                </div>
            </div>



        </div>
        <div id="pager">
            <div class="pagernext">
                <a href="iPhone.html"><span>1</span></a>
            </div>
            <div class="pagernext">
                <a href="iPhone2.html"><span>2</span></a>
            </div>
        </div>

        <div id="goiy">
            <div id="selection_sosanh">
                <img src="https://shopdunk.com/images/uploaded/trang%20danh%20muc/iphone/Image-Standard.png" />
                <div id="sosanh_all">
                    <div id="title">
                        "Tìm iPhone" <br /> phù hợp với bạn
                    </div>
                    <a href="https://shopdunk.com/so-sanh-iphone">So sánh các iPhone <sub>></sub></a>
                </div>
            </div>
            <div id="selection_muakem">

            </div>
        </div>

    </div>


</body>
</html>