
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}<html>
<head>
    <meta charset="utf-8" />
    <title>iPhone</title>
    <link href="~/Content/MasterLayout.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/detailpro.css" rel="stylesheet" />
</head>
<body>
    <div id="pro-detail">
        <div id="pro-info">
            <div id="pro-pic">
                <div id="pro">
                    <img src="https://shopdunk.com/images/thumbs/0019766_yellow_550.jpeg" id=" pro-img" alt="lỗi">
                </div>
                <div id="pro-view">
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019769_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019770_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019771_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019772_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019775_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019766_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019774_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019769_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019770_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019771_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019772_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019775_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019766_yellow_550.jpeg" alt=""></div>
                    <div class="item"><img src="https://shopdunk.com/images/thumbs/0019774_yellow_550.jpeg" alt=""></div>
                </div>
            </div>
            <div id="tt">
                <span id="pro-name"><h2 style="margin: 0px 0px;">iPHONE 15 128GB</h2></span><br>
                <div style="display: flex; justify-content:space-between">
                    <div style="width: 130px;">
                        <p style="width:150px;">Đánh giá |<icon><i class="fa-regular fa-circle-plus"></i></icon> So sánh</p>
                    </div>
                    <div style="margin-left:300px;">
                        <select style="vertical-align: middle;">
                            <option>Vui lòng chọn</option>
                            <option>Khu vực miền Bắc</option>
                            <option>Khu vực miền Nam</option>
                        </select>
                    </div>

                </div>
                <hr max-width="100%" color="grey" style="margin-left:0px;">
                <span id="price"> <h2>21.49.000đ</h2></span>
                <p style="color:dimgray">Dung lượng</p>
                <input type="checkbox" id="data">128Gb</checkbox>
                <input type="checkbox" id="data">256Gb</checkbox>
                <input type="checkbox" id="data">512Gb</checkbox>
                <br>
                <br>
                <span style="color:dimgray"> Màu sắc</span>
                <div id="color" style="display: flex; justify-content: space-between; width: 150px;">
                    <div class="c" style="background-color: black;"><a href=""></a></div>
                    <div class="c" style="background-color: dimgray;"><a href="#"></a></div>
                    <div class="c" style="background-color: burlywood"><a href="#"></a></div>
                    <div class="c" style="background-color: pink;"><a href="#"></a> </div>

                </div>
                <span><p style="color:#0066cc;">Xem của hàng có sẵn sản phẩm</p></span>
                <input type="submit" id="buy" style="width: 570px; height: 63px; background-color: #0066cc; border-radius: 10px; color: white; border: none; font-size: 17px;
font-weight: 100;" value="MUA NGAY">
                <div style="display: flex;padding-top: 10px ; justify-content: space-between">
                    <div>
                        <input type="submit" id="tg" style="width: 276px; height: 63px; background-color: white; border-radius: 10px; color:#0066cc; border-color: #0066cc; font-size: 17px;
      font-weight: 100;" value="Trả góp">
                    </div>
                    <div>
                        <input type="submit" id="tt-dm" style="width: 276px; height: 63px; background-color: white; border-radius: 10px; color:#0066cc; border-color: #0066cc; font-size: 17px;
      font-weight: 100;" value="Thu cũ đổi mới">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 style="margin-left:156px;">GỢI Ý PHỤ KIỆN ĐI KÈM</h3>
    <div id="phu-kien">
        <div class="pk">
            <div class="pk-de">
                <img src="https://shopdunk.com/images/thumbs/0001395_sac-20w-usb-c-power-adapter_240.png" alt="lỗi">
                <a href="#" style="text-decoration: none;"><p style="font-size: 20px; color: black;">Sạc 20W USB-C Power <br> Adapter</p></a>
            </div>
            <div class="pk-price">
                <span style="color: #0066cc;">490.000đ</span> <span style="color: dimgray; text-decoration: line-through;">690.000đ</span>
            </div>
        </div>
        <div class="pk">
            <div class="pk-de">
                <img src="https://shopdunk.com/images/thumbs/0011256_applecare-for-iphone-14-pro-max_240.png" alt="lỗi">
                <a href="#" style="text-decoration: none;"><p style="font-size: 20px; color: black;">Applecare+ iPhone 14 Pro <br> Max</p></a>
            </div>
            <div class="pk-price">
                <span style="color: #0066cc;">5.490.000đ</span> <span style="color: dimgray; text-decoration: line-through">5.990.000đ</span>
            </div>
        </div>
        <div class="pk">
            <div class="pk-de">
                <img src="https://shopdunk.com/images/thumbs/0016024_cuong-luc-zeelot-apple-iphone-soildsleek-trong-suot_240.jpeg" alt="lỗi">
                <a href="#" style="text-decoration: none;"><p style="font-size: 20px; color: black;">Cường lực Zeelot <br> Apple Iphone Soildsleek<br>-Trong suốt</p></a>
                <!-- <p style="color:dimgray; font-size: 13px;">Giảm giá mua kèm: </p> <span style="font-size: 13; color: rgb(36, 35, 35);">200.000đ</span> -->
            </div>
            <div class="pk-price">
                <span style="color: #0066cc;">250.000đ</span> <span style="color: dimgray;text-decoration: line-through">390.000đ</span>
            </div>
        </div>
        <div class="pk">
            <div class="pk-de">
                <img src="https://shopdunk.com/images/thumbs/0001737_iphone-14-pro-max-clear-case-with-magsafe_240.jpeg" alt="lỗi">
                <a href="#" style="text-decoration: none;"><p style="font-size: 20px; color: black;">Iphone 14 Pro Max Clear <br>Case with MagSafe</p></a>
            </div>
            <div class="pk-price">
                <span style="color: #0066cc;">790.000đ</span> <span style="color: dimgray;text-decoration: line-through">1.590.000đ</span>
            </div>
        </div>
    </div>
    <div id="muc">
        <input type="submit" value="Mô tả sản phẩm" id="muc-item">
        <input type="submit" value="So sánh iPhone" id="muc-item">
        <input type="submit" value="Thông số kỹ thuật" id="muc-item">
        <input type="submit" value="Chi tiết sản phẩm" id="muc-item">
        <input type="submit" value="Hỏi đáp" id="muc-item">
    </div>

    <div id="sp">
        <div style="height:40%; "><img src="https://shopdunk.com/images/uploaded-source/compareiphone15/hero_logo_large.png?1694035518949" alt="lỗi" style="width:164px; height:30px;margin:150px 300px 10px 580px ;"></div>
        <div style="height: 50%; width: 100%;"><img src="https://shopdunk.com/images/uploaded-source/compareiphone15/hero_large.png?1694035518952" alt="lỗi" style="width:100%; height:100%; margin-top: 50px;"></div>
    </div>
    <input type="submit" value="Mua ngay" style="border: 1px solid black; border-radius:20px; width:105px; height: 40px; background-color: white; margin-top:250px;margin-left: 47%;margin-right:47%;">
    <div id="sp2">
        <div style="padding-left:100px ;"><p style="font-size:40px; margin-top: 200px; ">Dynamic Island đưa<br>thông tin quan trọng<br>lên đầu.</p></div>
        <div><img src="https://shopdunk.com/images/uploaded-source/compareiphone15/dynamic_island_large.png?1694035518950" alt="lỗi" style="width: 355px; height:471px;margin-top: 53px;"></div>
    </div>
    <div id="goi-y">
        <h1>Vẫn còn nhiều món đáng yêu.</h1>
        <div id="goi-y-item">
            <div>
                <h3><strong>Phụ kiện MagSafe</strong></h3>
                <h1>
                    Gắn thêm <br>
                    một ốp lưng, <br>
                    một ví da từ tính<br>
                    hay cả hai.
                </h1>
                <p>Một hệ sinh thái phụ kiện đầy màu sắc, gắn kết dễ dàng <br> và sạc không dây nhanh hơn. Với vô số cách phối, phong <br> cách nào cũng có một bộ phụ kiện phù hợp.◊</p><br><br><br><br><br>

                <a href="#" style="text-decoration: none; color: #0066cc;">Tìm hiểu thêm phụ kiện MagSafe ></a>
            </div>
            <div>
                <img src="https://shopdunk.com/images/uploaded-source/compareiphone/flex_magsafe_large.png?1677709034079" alt="iphone" style="width: 406px; height: 330px; margin: 80px 0px 0px -80px ;">
            </div>
        </div>
        <div id="goi-y-item">
            <div>
                <h3><strong>AppleCare+</strong></h3>
                <h1>
                    Hỗ trợ chuyên nghiệp, <br>
                    bảo hành mở rộng <br>
                </h1>

                <p>Một hệ sinh thái phụ kiện đầy màu sắc, gắn kết dễ dàng <br> và sạc không dây nhanh hơn. Với vô số cách phối, phong <br> cách nào cũng có một bộ phụ kiện phù hợp.◊</p><br><br><br><br><br>

                <a href="#" style="text-decoration: none; color: #0066cc;">Tìm hiểu thêm về AppleCare+ cho iPhone ></a>
            </div>
            <div>
                <img src="https://shopdunk.com/images/uploaded-source/compareiphone/flex_applecare_large.png?1677709034085" alt="iphone" style="width: 300px; height: 328px; margin: 80px 0px 0px -80px ;">
            </div>
        </div>
    </div>

    
    
    <div id="ly" style="margin:0 156px 0 156px;">
        <span style="color: dimgray;">Từ Chối Trách Nhiệm Pháp Lý</span><br>

        <p>Pin Và Nguồn Điện: Tất cả các xác nhận về thời lượng pin phụ thuộc vào cấu hình mạng và nhiều yếu tố khác; các kết quả thực tế sẽ khác nhau. Pin có giới hạn chu kỳ sạc và cuối cùng có thể cần được thay thế. Thời lượng pin và chu kỳ sạc khác nhau tùy theo cách sử dụng và cài đặt. Truy cập  và  để biết thêm thông tin. </p><br>
        <p>USB-C: Cáp Sạc USB-C đi kèm các phiên bản iPhone 15 tương thích với AirPods Pro (thế hệ thứ 2) có Hộp Sạc MagSafe (USB-C).</p><br>
        <p>Phát Hiện Va Chạm: iPhone 14, iPhone 14 Pro, iPhone 15 và iPhone 15 Pro có thể phát hiện tình huống va chạm ô tô nghiêm trọng và gọi trợ giúp. Yêu cầu kết nối mạng di động hoặc cuộc gọi Wi-Fi.</p><br>
        <p>USB 3: Yêu cầu cáp USB 3 với tốc độ 10Gb/s để đạt tốc độ truyền nhanh hơn đến 20x trên các phiên bản iPhone 15 Pro.</p><br>
        <p> Mạng Di Động Và Không Dây: Cần có gói cước dữ liệu. Mạng 5G và LTE chỉ khả dụng ở một số thị trường và được cung cấp qua một số nhà mạng. Tốc độ phụ thuộc vào thông lượng lý thuyết và có thể thay đổi tùy địa điểm và nhà mạng. Để biết thông tin về hỗ trợ mạng 5G và LTE, vui lòng liên hệ nhà mạng và truy cập .</p><br>
        <p>Phụ Kiện MagSafe: Các màu chỉ nhằm mục đích minh họa. Phụ kiện MagSafe được bán riêng.</p><br>
        <p>Ưu Đãi Apple TV+: Chỉ dành cho thuê bao mới và thuê bao đã từng sử dụng đủ điều kiện. 179.000đ/tháng cho đến khi bị hủy. Một ưu đãi cho mỗi ID Apple và nhóm Chia Sẻ Trong Gia Đình. Có áp dụng các điều khoản; vui lòng truy cập .</p><br>
        <p>Tính Năng Khả Dụng: Một số tính năng không khả dụng tại một số quốc gia hoặc khu vực.</p><br>
    </div>
</body>
</html>



